.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(170, 204, 170, 0.9) ;
}
.container{
    background-color: white;
    border-radius: 9px;
    padding: 10px 20px;
    box-shadow: 15px 15px 25px black;
    width: 50vh;
    position: absolute;
    top: 20vh;
    left:25vw;
    right:25vw;
}
.modalContent{border-bottom: 1px solid grey; overflow-y: auto;}