.Button{
    padding: 7px 15px;
    margin-left: 5px;
    margin-bottom: 15px;
    box-shadow:20px 20px 25px grey;
    border:none;
    border-radius:7px;
    font-weight: 700;
}
.Button:hover{
    box-shadow:15px 15px 25px grey;

}
.clicked{
    border: ridge grey;
    box-shadow:10px 10px 25px grey;
}